.top {
    flex-wrap: wrap;
    padding-top: 55px;
    gap: 20px;
    width: 405px;
    height: 172px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F5F5F7CC
}

.link {
    text-decoration: none;
    color: black;
}

.Name {
    display: flex;
    width: 1920px;
    height: 580px;
    padding: 16px 0;
    font-family: inter;
    font-size: 14px;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center
}

.product {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 0 12px;

}

.product-item {
    height: 580px;
    width: calc(50% - 6px);
    background-size: cover;
    background-position: center;
}

@media (max-width: 600px) {
    .product {
        flex-direction: column;
    }

    .product-item {
        width: 100%;

    }
}

.txt {
    font-family: inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;

}

.slides {
    display: flex;
    width: 3782px;
    overflow: hidden;
}

.slide-container {
    overflow: scroll;
    scroll-snap-type: proximity;
    scroll-snap-align: center;
    width: 100%;
}

.slide {
    box-sizing: border-box;
    height: 668px;

}