.top {
    flex-wrap: wrap;
    padding-top: 55px;
    gap: 20px;
    width: 405px;
    height: 172px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F5F5F7CC
}

.link {
    text-decoration: none;
    color: black;
}

header {
    text-decoration: none;
    display: flex;
    max-width: 1920px;
    height: 44px;
    background-color: #F5F5F7CC;
    font-family: inter;
    font-size: 12px;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    margin: auto;
}

.menu {
    display: none;
}

.btn {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.top-btns {
    display: flex;

}

@media (min-width: 1000px) {
    .menu {
        display: flex;
        gap: 24px;
    }

    .menu>a {
        font-size: 12px;
        color: black;
    }

    .header {
        justify-content: center;
        gap: 10px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

bottomheader {
    display: flex;
    max-width: 1920px;
    height: 52px;
    font-family: inter;
    font-size: 14px;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 30px;
    text-align: center;
}

@media(min-width: 800px) {
    bottomheader {
        max-width: 100%;
    }
}


header {
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 44px;
        height: 31px;
    }
}

.product {

    height: 500px;
    text-align: center;
    padding-top: 36px;
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 0 12px;
    background-repeat: no-repeat;
    box-sizing: border-box;

}

.products {
    width: auto;
}

@media (min-width: 1000px) {

    .products {
        display: none;
    }

    .product-ipad {
        display: block;
    }

}

.product:first-child {
    margin-bottom: 34px;
}

.product-img {
    margin-bottom: 8px;
}

.product-title {
    font-weight: 700px;
    font-size: 30px;
    margin-bottom: 16px;
}

.product-subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
}

.product-decoration {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
}

.product-ipad {
    background-image: url(product.png);
}

.product-airpods {
    background-image: url(airpod4.png);
    color: white;
    padding-bottom: 54px;
}

.product-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product-airpods .product-subtitle {
    width: 241px;
}

.product-business {
    background-image: url(bussiness.png);
}

.product-watch {
    background-image: url(watch.png);
}

.product-air {
    background-image: url(air.png);
}

.product-trade {
    background-image: url(trade.png);
}

.product-deals {
    padding-bottom: 47px;
    background-image: url(deals.png);
}

@media (max-width: 1000px) {
    .slide {
        display: none;
        margin: 16px 0;
    }
}

.main-body {
    max-width: 2000px;
    margin: 0 auto;
    font-family: inter;
}

@media (max-width: 600px) {
    .product {
        flex-direction: column;
    }

    .product-item {
        width: 100%;

    }
}

.main-products {
    display: flex;
    width: 1920px;
    justify-content: center;
    align-items: center;

}

.main-product-item {
    display: flex;
    width: calc(50% - 6px);
    height: 692px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;


}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
}

.dot {
    border: 1 px solid #0000006B;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.42;

}

@media (min-width: 500px) {
    .main-product-item {
        width: 100%;
    }

    .main-products {
        flex-direction: column;
    }
}

.pro {
    box-sizing: border-box;
    height: 500px;
    background-color: black;
    background-image: url(pro.png);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 36px;
    color: white;
}

.pro-title {
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;

}

.pro-subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 120%;

}

.pro-actions {
    display: flex;
    gap: 12px;
    justify-content: center;
}

@media(min-width:500px) {
    .pro {
        justify-content: flex-start;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 58px;
        background-position: center;
        height: 650px;
        background-image: url(tablet.png);
    }

    .pro-title {
        font-size: 42px;
        line-height: 60px;
    }

    .pro-subtitle {
        font-size: 22px;
        line-height: 32px;

    }

    .pro-actions {
        gap: 16px;
    }
}

@media(min-width:1000px) {
    .pro {
        height: 692px;
        background-image: url(Figure.png);
        background-size: cover;
    }

    .pro-title {
        font-size: 52px;
    }

    .pro-subtitle {
        font-size: 24px;
    }


}



@media (max-width: 1000px) {
    .main-product-item {
        display: none;
    }

    .main-products {
        flex-direction: column;
    }
}

.nopro {
    box-sizing: border-box;
    height: 500px;
    background-color: black;
    background-image: url(16.png);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 36px;
    color: white;
}

.nopro-title {
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;

}

.nopro-subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 120%;

}

.nopro-actions {
    display: flex;
    gap: 12px;
    justify-content: center;
}

@media(min-width:500px) {
    .nopro {
        justify-content: flex-start;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 58px;
        background-position: center;
        height: 650px;
        background-image: url(table.png);
        width: 100%;
    }

    .nopro-title {
        font-size: 42px;
        line-height: 60px;
    }

    .nopro-subtitle {
        font-size: 22px;
        line-height: 32px;

    }

    .nopro-actions {
        gap: 16px;
    }
}

@media(min-width:1000px) {
    .nopro {
        height: 692px;
        background-image: url(Background.png);
        background-size: cover;
    }

    .nopro-title {
        font-size: 52px;
    }

    .nopro-subtitle {
        font-size: 24px;
    }
}



.txt {
    font-family: inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    margin: 0;

}

.slides-container {

    width: 100%;
    overflow-x: scroll;
    scroll-behavior: none;
}

.slides {
    display: flex;
    scroll-snap-type: proximity;
    scroll-snap-align: center;

    width: 3000px;
}

.slide {
    box-sizing: border-box;
    position: relative;
    width: 1250px;
    height: 692px;
    margin: 16px 12px;
    aspect-ratio: 16 / 9;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-buttons {
    position: relative;
    left: 70px;
    top: 566px;

}

.small-txt {
    font-family: inter;
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;


}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 58px;

}

.lbutton {
    padding: 12px 20px;
    border-radius: 999px;
    border-color: transparent;
    font-family: inter;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #0071e3;


}

.sbutton {
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 999px;
    border-color: #0071E3;
    font-family: inter;
    font-size: 16px;
    color: #2997FF;
    padding-top: 12px;
    margin-left: 16px;
}

.upperbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
}

.card {
    aspect-ratio: 417 / 236;
    width: 600px;
    display: flex;
    align-items: flex-end;
    position: relative
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 417px;
    height: 236px;
    object-fit: cover;
}

.card-title {
    position: absolute;
    color: white;
    font-family: inter;
    bottom: 120px;
    left: 20px;
}